# data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# outputs
outputs/models/*.pkl
outputs/models/*.joblib
outputs/figures/*.png
!outputs/models/.gitkeep
!outputs/figures/.gitkeep

# python
__pycache__/
*.pyc
venv/
.venv/
.ipynb_checkpoints/
*.egg-info/

# os / editor
.DS_Store
.vscode/
.idea/
